body{
    background-color: rgb(125,149, 74)
}

h1{
    color: white;
    text-align: center;
}
body{
    margin: 0px;
    font-family:Arial;
    background:rgb(125,149, 74);
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 10px 30px;
    background-color:burlywood ;

    background:rgb(125,149, 74);
    padding:10px 30px;
}

body{
    margin:0;
    font-family:Arial, sans-serif;
    background:burlywood;
}

/* Navigation Bar */
.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap: 25px;
    
    background:burlywood;
    padding:10px 30px;

    height:80px;
}

/* Logo */
.logo img{
    width:85px;      /* controls size */
    height: 85px;

    object-fit:contain;
}

/* Navigation Links */
nav a{
    color:gold;
    text-decoration:none;

    margin-left:25px;
    font-size:18px;
    font-weight:bold;
}

nav a:hover{
    color:white;
}
    